<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="background-container">
        <img src="{{ url_for('static', filename='login1.jpg') }}" alt="Background Image 1">
        <img src="{{ url_for('static', filename='login2.jpg') }}" alt="Background Image 2">
        <img src="{{ url_for('static', filename='login3.jpg') }}" alt="Background Image 3">
        <img src="{{ url_for('static', filename='login4.jpg') }}" alt="Background Image 4">
    </div>
    <div class="container">
        <div class="login-container">
            <div class="login-header">
                <h2>重设密码</h2>
            </div>
            <form action="{{ url_for('reset_password') }}" method="POST" onsubmit="return validatePassword()">
                <div class="input-group mb-3">
                    <label for="username">用户名</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="请输入用户名" required>
                </div>
                <div class="input-group mb-3">
                    <label for="new_password">新密码</label>
                    <input type="password" id="new_password" name="new_password" class="form-control" placeholder="请输入新密码" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">重设密码</button>
            </form>
            <div class="footer-links">
                <a href="{{ url_for('login') }}" class="btn btn-link">返回登录</a>
            </div>
        </div>
    </div>
    <script>
        function validatePassword() {
            var password = document.getElementById("new_password").value;
            var regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
            if (!regex.test(password)) {
                alert("密码至少为8位且包含数字和字母");
                return false;
            }
            return true;
        }
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
